<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <title>{% block title %}QR Code Generator{% endblock %}</title>
</head>
<body class="bg-dark text-secondary">
    <div class="px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Gerador de qr code</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Selecione a imagem para criar o qr code</p>
                <div class="row d-grid gap-2 d-sm-flex justify-content-sm-center">
                    {% with messages = get_flashed_messages() %}
                    <div class="col-12">
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endwith %}
                    {% if filename %}
                    <div class="col-12">
                        <img src="{{ url_for('home_filename_get', filename=filename) }}">
                    </div>
                    {% endif %}
                    <form method="post" action="/" enctype="multipart/form-data">
                        <input type="file"
                               name="file"
                               class="form-control mb-1"
                               placeholder="imagem"
                               autocomplete="off"
                               required>
                        <input type="text"
                               name="url"
                               class="form-control mb-1"
                               placeholder="url"
                               autocomplete="off"
                               required>
                        <input type="text"
                               name="name"
                               class="form-control mb-1"
                               placeholder="nome para o qrcode"
                               autocomplete="off"
                               required>
                        <button type="submit" value="Submit" class="btn btn-info">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>